{{!-- This is some html code for star rating --}}

<form class="star-rating">
  <input class="radio-input" type="radio" id="star-5" name="star-input" value="5"/>
    <label class="radio-labe;" for="star5" title="5 stars">5 stars</label>
  <input class="radio-input" type="radio" id="star-4" name="star-input" value="4"/>
    <label class="radio-labe;" for="star4" title="4 stars">4 stars</label>
  <input class="radio-input" type="radio" id="star-3" name="star-input" value="3"/>
    <label class="radio-labe;" for="star3" title="3 stars">3 stars</label>
  <input class="radio-input" type="radio" id="star-2" name="star-input" value="2"/>
    <label class="radio-labe;" for="star2" title="2 stars">2 stars</label>
  <input class="radio-input" type="radio" id="star-1" name="star-input" value="1"/>
    <label class="radio-labe;" for="star1" title="1 star">1 stars</label>
</form>