{{>header}}
{{>navigation}}
<h2>Click to see restaurant reviews!</h2>
  <div class="logos">
    {{#each restaurants}}
      <a href="/restaurants/{{id}}"><img class="logo" src={{img}} alt="{{name}}"></a>
    {{/each}}
  </div>  
{{>footer}}

