@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

body{
  padding: 40px;
  font-family: 'Heebo', sans-serif;
}

.logo{
  margin: 10px;
  width: 30vw;
  border: 1px solid black;
  box-shadow: 2px 2px 5px gray;
}