@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

body {
  font-family: 'Heebo', sans-serif;
  background-color: rgb(255, 244, 238);
  margin: 0;
}

header {
  display: grid;
  place-content: center;
}

.appLogo {
  width: 210px;
  height: 144px;
}

.logo {
  margin: 15px;
  width: 25vw;
  border: 1px solid black;
  box-shadow: 2px 2px 5px gray;
}

.logo-container {
  background: linear-gradient(to top left, #e8612f 5%, #ef8663 60%);
}

footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ee825d;
  text-align: center;
}

/* ------ CSS for Navigation Bar ----- */
.navbar {
  width: 100%;
  background-color: #ee825d;
  overflow: auto;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ffde5c;
}

.active {
  background-color: #fff4ee;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/* ------CSS for Star rating------ */
.star-rating {
  display: flex;
  flex-direction: row-reversed;
  justify-content: flex-end;
}

/* Created the stars */
.radio-input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.radio-label {
  cursor: pointer;
  font-size: 0;
  color: rgba(0, 0, 0, 0.2);
  transition: color 0.1s ease-in-out;
}

.radio-label:before {
  content: '★';
  display: inline-block;
  font-size: 32px;
}

/* Cool effects so user can see total umber of starts on hover */
.radio-input:checked ~ .radio-label {
  color: #ffc700;
  color: gold;
}

.radio-label:hover,
.radio-label:hover ~ .radio-label {
  color: goldenrod;
}

.radio-input:checked + .radio-label:hover,
.radio-input:checked + .radio-label:hover ~ radio.radio-label,
.radio-input:checked ~ .radio-label:hover,
.radio-label:checked ~ .radio-label:checked ~ .radio-label {
  color: darkgoldenrod;
}
